<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="logfile" source="logging.file" defaultValue="socatel-graphql.log"/>
    <springProperty scope="context" name="logpath" source="logging.path" defaultValue="/app/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${logpath}/${logfile}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logfile}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>

        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter" />
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>
    </appender>

    <logger name="graphql" level="INFO"/>
    <logger name="com.ozwillo.socatelgraphql" level="DEBUG"/>

    <root level="INFO">
        <springProfile name="dev">
            <appender-ref ref="STDOUT"/>
        </springProfile>
        <springProfile name="!dev">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="JSON-FILE-ROLLING"/>
        </springProfile>
    </root>

</configuration>
